
    line    {stroke:#ddd;shape-rendering: crispEdges;}
     text    {text-anchor:middle;}
    circle {fill:orange;stroke:orange;fill-opacity:0.5;}
    .axis line {fill:none;stroke:#ddd;shape-rendering: crispEdges;}
    .axis path  {fill:none;}
    .axis text {font-size:0.7em;fill:#555;font-family:sans-serif}
    #pieChart{
        margin: 10px 23px 0 55px;
    }